.blogIndex h1,
.post h1 {
  font-size: 18pt;
}

.blogIndex h2,
.post h2 {
  font-size: 14pt;
}

.noPosts {
  text-align: center;
}

.postPreview {
  max-width: 600px;
  margin: 10px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
.postPreview h3 {
  margin: 10px auto 0px auto;
  font-size: 18px;
}

.postPreview p {
  font-size: 16px;
  margin: 5px auto;
}

.postPreview:last-child {
  border-bottom: none;
}

.author {
  font-size: 16px;
}

.posted {
  font-size: 12px;
  color: #666666;
}

.post :global(h2),
.post :global(h3) {
  margin: 1.5rem 0 0.5rem 0;
}

.post :global(video),
.post :global(img) {
  margin: 2rem auto;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  display: block;
}

.post {
  padding-top: 100px;
  max-width: calc(600px + 10%);
  margin: 0 auto;
}

.post :global(hr) {
  margin-bottom: 2em;
}

.post :global(a + p) {
  margin-top: 0;
}
