.company {
  max-width: 800px;
  margin: 0 auto 10px;
}

.tables {
  min-width: calc(100% - 2px);
  box-sizing: border-box;
  border: solid 1px #b2b2b2;
  color: #666666;
  margin: 1px;
  padding: 80px 20px 40px;
}
.tables tr {
  line-height: 44px;
}

.tables td {
  padding: 0 17px;
}

.role {
  padding: 4px;
  margin: 10px;
}

.role h3 {
  font-weight: bold;
  font-size: 18pt;
  color: #2096a3;
  color: rgb(32, 150, 163);
  position: relative;
  top: 78px;
  left: 26px;
  text-align: left;
  display: inline;
}

.label {
  width: 28%;
}
