.tables {
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  font-style: italic;
  border: solid 2px #464646;
  color: #464646;
}
.tables tr {
  line-height: 36px;
}

.tables td {
  padding: 0 10px;
}
