.tables {
  min-width: calc(100% - 2px);
  box-sizing: border-box;
  border: solid 2px #464646;
  color: #464646;
  margin: 1px;
}
.tables tr {
  line-height: 36px;
}

.tables td {
  padding: 0 10px;
}

.role {
  padding: 4px;
  margin:10px;
}

.role h3 {
  font-weight: bold;
  font-size: 18pt;
  color: #2096a3;
  color: rgb(32, 150, 163);
  position: relative;
  top: 78px;
  left: 26px;
  text-align: left;
  display: inline;
}

.label {
  width: 20%;
}
