@media screen and (min-width: 34em) {
  .media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'content image';
    max-width: 1500px;
    margin: 0 auto 150px;
  }
}

.content {
  grid-area: content;
  grid-column: 0/3;
  padding-top: 130px;
}
.body {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.image {
  grid-area: image;
  grid-column: 2/3;
}

.image img {
  width: 596px;
}
