.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 920px;
  max-width: calc(100vw - var(--gap-double));
  text-align: center;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 10vw;
}

.product {
  flex: 0 0 40%;
  align-items: center;
  display: inline-flex;
  padding: 0 0.5rem 0.5rem;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .product div {
    flex-basis: auto;
    padding-left: 0;
  }
}
