.title {
  margin: 50px 0 0 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

.title h2 {
  display: inline-block;
}

.title h5 {
  display: inline-block;
  margin: 0 30px;
}
